.gradle/
build/
out/
classes/
*.launch
.idea/
*.iml
*.ipr
*.iws
.settings/
.vscode/
bin/
.classpath
.project
*.DS_Store
run/
detonatedmods/
generated/
.architectury-transformer/
credentials.properties
*.jar
!gradle/wrapper/gradle-wrapper.jar